#opponentcih {
  position: absolute;
  top: 615px;
  left: 1115px;
}

#opponenthealth {
  position: absolute;
  top: 595px;
  left: 1175px;
}

#health {
  position: absolute;
  top: 575px;
  left: 1214px;
}